
extends layout.pug

block content
    section#content
      
          
      h2= prompt
      if hint
        p
          i Hint: #{hint}
      else
        h3 Sorry, no hint is available for this question
