
extends layout.pug



block content
    section#content
    
    p Ain't it fun to play in the sandbox!
    
    table
      thead 
        tr: th FirstName Last Name
      tbody
        tr
          td John Stegman
        tr
          td Jack Kelly

